
/*-------------------------------------------------
SMACSS: STATE
-------------------------------------------------*/


/*-------------------------------------------------
SMACSS:Client Testimonials LAYOUT - SECTION
-------------------------------------------------*/
.navbar{
	min-height: 70px  !important;
	margin: 0px !important;
}
.navbar-nav{
	padding-top: 15px !important;
	float: right !important;
	text-transform:uppercase;
	li.dropdown{
		a{
			padding-top: 10px !important;
		}
	}
}

blockquote{
  border-left-width:2px !important;
  footer{
    border-top:none;
    text-align: left;
  }
  &:hover{
    border-color:$color-blue;
    @include transition(all, 0.4s, ease-in-out);
    }
}
#free-Proof-Concept{
	a.carousel-control{
		opacity: 1;
	    font-size: 30px;
	    height: inherit;
	    width: inherit;
	    background: none;
	    text-shadow: none;
	    i{
	    	top: 50%;
		    opacity: 0.6;
		    background: #000;
		    margin-top: -18px;
		    margin-left:0;
		    margin-right:0;
		    padding: 2px 12px;
		    position: absolute;
	    }
	}
	a.right{
		i{
			right:0 !important;
		}
	}
	a.left{
		i{
			left:0 !important;
		}
	}
	.carousel-caption{
		padding:7px 15px !important;
	    background: rgba(0, 0, 0, 0.7);
		bottom:0px !important;
		left:0px !important;
		right:0px !important;
		p{
			color:$color-white;
			margin-bottom: 0px;
		}
	}
}

/*-------------------------------------------------
SMACSS: Patner - FOOTER
-------------------------------------------------*/

.flexslider.l-partners  {
  border: 0;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 30px;
}
.flexslider {
  margin-top: 10px !important;
  background: none !important;
  .flex-direction-nav {
    a {
      margin-top: -10px !important;
    }
  }
}