<!-- Header -->
<!-- <header>
 	<div class="container">
 	    <ul class="inline-links clearfix">
 	    	<li><a href="#">BRAND LOGO</a></li>
 	    	<li><a type="button" class="btn btn-default" href="#">LINK</a></li>
 	    	<li><a type="button" class="btn btn-default" href="#">LINK</a></li>
 	    	<li><a type="button" class="btn btn-default" href="#">LINK</a></li>
 	    	<li><a type="button" class="btn btn-default" href="#">LINK</a></li>
 	    	<li><a type="button" class="btn btn-default" href="#">LINK</a></li>
 	    	<li><a type="button" class="btn btn-default" href="#">LINK</a></li>
 	    </ul>
 	</div> 
 </header>  -->  
<!-- <header class="theme-margin" id="main-header">
	<div class="l-container container l-clearfix">
		<a href="">Logo</a>
	</div>
</header> -->
		

<div class="navbar navbar-default mega-menu navbar-fixed-top" role="navigation">
    <div class="container header-section">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img id="logo-header" src="http://www.thinksys.com/assets/img/logo.png" alt="Logo">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <!-- Home -->
                <!--<li class="dropdown active">
                    <a href="index.shtml" >
                        Home
                    </a>
                </li>-->
                <!-- End Home -->
                
                 <!-- Services -->
                <li class="dropdown mega-menu-fullwidth">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Services
                    </a>
                    
                </li>
                <!-- End Services -->

                <!-- Products -->                        
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Products
                    </a>
                    
                </li>
                <!-- End Products -->  
                
                <!-- About ThinkSys -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        About ThinkSys
                    </a>
                    
                    
                </li>
                <!-- End About ThinkSys -->

                <!-- Blog -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Resources
                    </a>
                   
                </li>
                <!-- End Blog -->
                <!-- Contacts -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Contact
                    </a>
                    
                </li>                   
                <!-- End Contacts -->
                
             <!-- Social Icons -->
             <li class="l-social-media-icon">
                    <a href="https://www.facebook.com/ThinkSysInc" class="no-padding-top no-padding-bottom" target="_blank">
                    	<img src="http://www.thinksys.com/assets/img/icons/social-icons/fb.png" alt="Facebook" title="Facebook"></a>
                    <a href="https://twitter.com/ThinkSysInc" class="no-padding-top no-padding-bottom" target="_blank">
                    	<img src="http://www.thinksys.com/assets/img/icons/social-icons/tw.png" alt="Twitter" title="Twitter"></a>
                    <a href="https://www.linkedin.com/company/thinksys-inc" class="no-padding-top no-padding-bottom" target="_blank">
                   		<img src="http://www.thinksys.com/assets/img/icons/social-icons/linkdin.png" alt="LinkedIn" title="LinkedIn"></a>
                    <a href="https://plus.google.com/+ThinksysInc_Official/posts" class="no-padding-top no-padding-bottom" target="_blank">
                    	<img src="http://www.thinksys.com/assets/img/icons/social-icons/googles.png" alt="Google+" title="Google+"></a>
                    <a href="https://in.pinterest.com/Thinksys_Inc/" class="no-padding-top no-padding-bottom" target="_blank">
                    	<img src="http://www.thinksys.com/assets/img/icons/social-icons/pin.png" alt="Pinterest" title="Pinterest"> </a>
                    <a href="http://www.stumbleupon.com/stumbler/ThinksysInc" class="no-padding-top no-padding-bottom" target="_blank">
                   		<img src="http://www.thinksys.com/assets/img/icons/social-icons/su.png" alt="Stumble Upon" title="Stumble Upon"> </a>
                    </li>
              <!-- End Social Icons-->


                <!-- Search Block -->
       <!--     <li>
                    <i class="search fa fa-search search-btn"></i>
                    <div class="search-open">
                        <div class="input-group animated fadeInDown">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn-u" type="button">Go</button>
                            </span>
                        </div>
                    </div>    
                </li>                 -->
                <!-- End Search Block -->
            </ul>
        </div><!--/navbar-collapse-->
    </div>    
</div>
